body {
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
  }
  
  .card {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 32px;
  }
  
  .btn {
    margin-bottom: 10px;
  }
  
  .btn-block {
    width: 100%;
  }

  









